@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff9c4;
}

header {
  color: #fdd835;
  padding: 20px 0;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

nav {
  background-color: #fdd835;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 10px;
  transition: background-color 0.3s, color 0.3s;
}

nav li a:hover {
  background-color: #fbc02d;
  color: #fff9c4;
  border-radius: 5px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #fdd835;
  text-align: center;
}

.results-container {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

input, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #fdd835;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fbc02d;
}

footer {
  text-align: center;
  padding: 20px;
}
