<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}<!-- titre -->{% endblock %}</title>
    <link rel="stylesheet" href="../header/header.css">
    
     {% block styles %}{% endblock %}


</head>
<body>
    <header>
        {% include 'header.html.twig' %}
    </header>

    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ "now"|date("Y") }} Stage Search. All rights reserved.</p>
    </footer>
</body>
</html>