{% extends "base.html.twig" %}

{% block styles}
<link rel="stylesheet" href="../assets/connexion.css">
{ % endblock %}

    {% block content %}
       <div class="container">
            <h1>Connexion</h1>
            <form method="post">
                <label class="titre-section" for="user">Identifiant/Adresse Mail</label>
                <input id="user" class="text" name="user" type="text" size="30" required>
                <label class="titre-section" for="password">Mot de passe</label>
                <input id="password" name="password" type="password" size="30" required>
                <button class="connexion-button" type="submit">Connexion</button>
            </form>
            <div class="text-center">
                <a href="inscription.html">Pas encore inscrit ?</a>
            </div>
        </div>
    {% endblock %}

