<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internshiped</title>
    
    <link rel="stylesheet" href="../assets/index.css">
</head>

<body>
    <header>
        <h1>INTERNSHIPED</h1>
        <nav>
            <ul class="nav-links">
                <li><a class="nav-lien" href="index.html">Accueil</a></li>
                <li><a class="nav-lien" href="entreprises.html">Entreprises</a></li>
                <li><a class="nav-lien" href="offres.html">Offres</a></li>
                <li><a class="nav-lien" href="wishlist.html">Wishlist</a></li>
                <li><a class="nav-lien" href="contact.html">Contact</a></li>
            </ul>
            <div class="connexion">
                <a href="connexion.html">Connexion</a>
                <a href="inscription.html">S'inscrire</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Connexion</h1>
            <form method="post">
                <label class="titre-section" for="user">Identifiant/Adresse Mail</label>
                <input id="user" class="text" name="user" type="text" size="30" required>
                <label class="titre-section" for="password">Mot de passe</label>
                <input id="password" name="password" type="password" size="30" required>
                <button class="connexion-button" type="submit">Connexion</button>
            </form>
            <div class="text-center">
                <a href="inscription.html">Pas encore inscrit ?</a>
            </div>
        </div>
    </main>
    <footer>
        &copy; 2025 CESI Ton Avenir. Tous droits réservés. |&nbsp;
        <a href="mentions.html" class="footer-link"> Mentions légales</a>
    </footer>
</body>

</html>
