{% extends "base.html.twig" %}

{% block styles}
<link rel="stylesheet" href="../assets/gestion-entreprise.css">
{ % endblock %}

 {% block content %}
        <div class="container">
        <h1>Gestion des entreprises</h1>
        <section>
            <form>
                <input class="input-bar" type="text" id="recherche" placeholder="Rechercher une entreprise...">
            </form>
            <ul>
                <li>
                    <div class="profile">
                        <h3>AirTech Solutions</h3>
                        <small>contact@airtech.com | 123456789 </small>
                        <div class="right">
                            <button class="delete-button" id="openModalDeleteA">Supprimer</button>
                            <button class="edit-button" id="openModalEditA">Modifier</button>
                        </div>
                    </div>
                </li>
                <div id="modalDeleteA" class="modal">
                    <div class="modal-content">
                        <span class="pop-up" id="closeModalDeleteA">&times;</span>
                        <h3>Voulez-vous vraiment supprimer l'entreprise : AirTech Solutions ?</h3>
                        <button class="delete-button">Oui</button>
                        <button class="edit-button">Non</button>
                    </div>
                </div>
                <div id="modalEditA" class="modal">
                    <div class="modal-content">
                        <span class="pop-up" id="closeModalEditA">&times;</span>
                        <h2>Modifier l'entreprise : AirTech Solutions</h2>
                        <form class="form">
                            <label for="nom">Nom</label>
                            <input type="text" id="nom">

                            <label for="email">Email</label>
                            <input type="email" id="email">
                            <button type="submit">Modifier</button>
                        </form>
                    </div>
                </div>
            </ul>
            <button class="button" id="openModalNew">Ajouter une entreprise</button>
            <div id="modalNew" class="modal">
                <div class="modal-content">
                    <span class="pop-up" id="closeModalNew">&times;</span>
                    <h2>Ajouter une entreprise</h2>
                    <form class="form">
                        <label for="nom">Nom</label>
                        <input type="text" id="nom" required>

                        <label for="email">Email</label>
                        <input type="email" id="email" required>
                        <button type="submit">Ajouter</button>
                    </form>
                </div>
            </div>
        </section>

        <section class="contact">
            <h2>Contact</h2>
            <p>Vous avez des questions ? Contactez-nous par email à <a
                    href="mailto:contact@internshiped.com">contact@internshiped.com</a>.</p>
        </section>
    </div>
    {% endblock %}

