{% extends "base.html.twig" %}

{% block styles}
<link rel="stylesheet" href="../assets/gestion-étudiant.css">
{ % endblock %}

 {% block content %}
        <div class="container">
        <h1>Gestion de comptes étudiant</h1>
        <section> 
            <form>
                <input class="input-bar" type="text" id="commentaire" placeholder="Rechercher un compte...">
            </form>
            <ul>
                <li><div class="profile">
                    <h3>Alex Dupont</h3>
                    <small>alex.dupont@student.univ-exemple.edu | 2025102345 </small>
                    <div class="right">
                    <button class="delete-button" id="openModalDeleteA" >Supprimer</button>  
                    <button class="edit-button" id="openModalEditA">Modifier</button></div>
                </div></li>
                <div id="modalDeleteA" class="modal">
                    <div class="modal-content">
                        <span class="pop-up" id="closeModalDeleteA">&times</span>
                        <h3>Voulez-vous vraiment supprimer le compte de : Alex Dupont ?</h3>
                        
                        <!-- Actions sur les boutons -->
                        <button class="delete-button"  >Oui</button>  
                        <button class="edit-button" >Non</button></div>
                    </div>
                <div id="modalEditA" class="modal">
                    <div class="modal-content">
                        <span class="pop-up" id="closeModalEditA">&times</span>
                        <h2>Modifier le compte de : Alex Dupont</h2>
                        <form class="form">
                            <label for="name">Nom</label>
                            <input type="text" id="name" >
                            
                            <label for="firstname">Prénom</label>
                            <input type="text" id="firstname" >
            
                            <label for="email">Email</label>
                            <input type="email" id="email" >
                            
    
                            <button type="submit">Modifier</button>
                        </form>
                    </div>
                </div>

                <li><div class="profile">
                    <h3>Sarah Morel</h3>
                    <small>sarah.morel@student.univ-exemple.edu | 2025116789 </small>
                    <div class="right">
                    <button class="delete-button" id="openModalDeleteS">Supprimer</button>  
                    <button class="edit-button" id="openModalEditS">Modifier</button></div>
                </div></li>
                <div id="modalDeleteS" class="modal">
                    <div class="modal-content">
                        <span class="pop-up" id="closeModalDeleteS">&times</span>
                        <h3>Voulez-vous vraiment supprimer le compte de : Sarah Morel ?</h3>
                        
                        <!-- Actions sur les boutons -->
                        <button class="delete-button"  >Oui</button>  
                        <button class="edit-button" >Non</button></div>
                    </div>
                <div id="modalEditS" class="modal">
                    <div class="modal-content">
                        <span class="pop-up" id="closeModalEditS">&times</span>
                        <h2>Modifier le compte de : Sarah Morel</h2>
                        <form class="form">
                            <label for="name">Nom</label>
                            <input type="text" id="name" >
                            
                            <label for="firstname">Prénom</label>
                            <input type="text" id="firstname" >
            
                            <label for="email">Email</label>
                            <input type="email" id="email" >
                            
    
                            <button type="submit">Modifier</button>
                        </form>
                    </div>
                </div>


                <li><div class="profile">
                    <h3>Julien Bernard</h3>
                    <small>julien.bernard@student.univ-exemple.edu | 2025093456 </small>
                    <div class="right">
                    <button class="delete-button" id="openModalDeleteJ">Supprimer</button>  
                    <button class="edit-button" id="openModalEditJ">Modifier</button></div>
                </div></li>
                <div id="modalDeleteJ" class="modal">
                    <div class="modal-content">
                        <span class="pop-up" id="closeModalDeleteJ">&times</span>
                        <h3>Voulez-vous vraiment supprimer le compte de : Julien Bernard ?</h3>
                        
                        <!-- Actions sur les boutons -->
                        <button class="delete-button"  >Oui</button>  
                        <button class="edit-button" >Non</button></div>
                    </div>
                <div id="modalEditJ" class="modal">
                    <div class="modal-content">
                        <span class="pop-up" id="closeModalEditJ">&times</span>
                        <h2>Modifier le compte de : Julien Bernard</h2>
                        <form class="form">
                            <label for="name">Nom</label>
                            <input type="text" id="name" >
                            
                            <label for="firstname">Prénom</label>
                            <input type="text" id="firstname" >
            
                            <label for="email">Email</label>
                            <input type="email" id="email" >
                            
    
                            <button type="submit">Modifier</button>
                        </form>
                    </div>
                </div>

            </ul>
            <button class="button" id="openModalNew">Créer un compte étudiant</button>
            <div id="modalNew" class="modal">
                <div class="modal-content">
                    <span class="pop-up" id="closeModalNew">&times</span>
                    <h2>Créer un compte</h2>
                    <form class="form">
                        <label for="name">Nom</label>
                        <input type="text" id="name" required>
                        
                        <label for="firstname">Prénom</label>
                        <input type="text" id="firstname" required>
        
                        <label for="email">Email</label>
                        <input type="email" id="email" required>
                        

                        <button type="submit">Inscrire</button>
                    </form>
                </div>
            </div>
        </section>



        <section class="contact">
            <h2>Contact</h2>
            <p>Vous avez des questions ? Contactez-nous par email à <a href="mailto:contact@cesi-ton-avenir.com">contact@cesi-ton-avenir.com</a>.</p>
        </section>
        

    </div>
    {% endblock %}

<script src = "assets/pop-up.js"></script>