

    
        <h1>INTERNSHIPED</h1>
        <nav>
            <ul class="nav-links">
                <li><a class="nav-lien" href="../templates/index.html.twig">Accueil</a></li>
                <li><a class="nav-lien" href="../templates/gestion-entreprise.html.twig">Entreprises</a></li>
                <li><a class="nav-lien" href="../templates/offres.html.twig">Offres</a></li>
                <li><a class="nav-lien" href="../templates/wishlist.html.twig">Wishlist</a></li>
                <li><a class="nav-lien" href="../templates/contact.html.twig">Contact</a></li>
            </ul>
            <div class="connexion">
                <a href="../templates/connexion.html.twig">Connexion</a>
                <a href="../templates/inscription.html.twig">S'inscrire</a>
            </div>
        </nav>
   