{% extends "base.html.twig" %}

{% block styles}
<link rel="stylesheet" href="../assets/wishlist.css">
{ % endblock %}

 {% block content %}
        <div class="container">
            <section class="center">
                <form>
                    <input class="input-bar" type="text" id="commentaire" placeholder="Rechercher une annonce...">
                </form>
                <h3 class="text-align">Votre wishlist : </h3>
                <div class="offers">
                    <div class="offer-wishlist">
                        <h3>Stage Développeur Web
                        </h3>
                        <div class="wish-company">
                            Entreprise : TechCorp<a class="apply-button" href="#">Retirer des favoris</a></div>
                        <!-- Pas besoin de refaire une classe pour le bouton -->
                        <a class="apply-button" href="#">Postuler</a>
                    </div>
                    <div class="offer-wishlist">
                        <h3>Stage Marketing Digital
                        </h3>
                        <div class="wish-company">
                            Entreprise : MarketPlus<a class="apply-button" href="#">Retirer des favoris</a></div>
                        <a class="apply-button" href="#">Postuler</a>
                    </div>
                    <div class="offer-wishlist">
                        <h3>Stage Data Analyst
                        </h3>
                        <div class="wish-company">
                            Entreprise : DataSolutions<a class="apply-button" href="#">Retirer des favoris</a></div>
                        <a class="apply-button" href="#">Postuler</a>
                    </div>
                </div>
            </section>
        </div>
    {% endblock %}

