<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internshiped</title>
    <link rel="stylesheet" href="../../template/header.css?v=1.0">
    <link rel="stylesheet" href="../css/mentions.css">
</head>

<body>
    <header>
        <h1>INTERNSHIPED</h1>
        <nav>
            <ul class="nav-links">
                <li><a class="nav-lien" href="index.html">Accueil</a></li>
                <li><a class="nav-lien" href="entreprises.html">Entreprises</a></li>
                <li><a class="nav-lien" href="offres.html">Offres</a></li>
                <li><a class="nav-lien" href="wishlist.html">Wishlist</a></li>
                <li><a class="nav-lien" href="contact.html">Contact</a></li>
            </ul>
            <div class="connexion">
                <a href="connexion.html">Connexion</a>
                <a href="inscription.html">S'inscrire</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Mentions Légales du site Intershiped</h2>

            <h3>1. Éditeur du site</h3>
            <div>Nom du site : Cesi Ton Avenir <br>
                Responsable de la publication : Jean Dupont<br>
                Adresse : 123 Rue des Étudiants, 75001 Paris, France<br>
                E-mail : contact@intershiped.fr<br>
                Numéro de téléphone : +33 1 23 45 67 89
            </div>

            <h3>2. Hébergeur du site</h3>
            <div>Nom de l'hébergeur : OVHcloud<br>
                Adresse de l'hébergeur : 2 Rue Kellermann, 59100 Roubaix, France<br>
                Numéro de téléphone : +33 9 72 10 10 07
            </div>

            <h3>3. Propriété intellectuelle</h3>
            <p>
                L'ensemble des contenus (textes, images, logos) présents sur le site CesiTonAvenir est protégé par le
                droit
                d'auteur. Toute reproduction, distribution ou utilisation non autorisée est interdite.
            </p>

            <h3>4. Protection des données personnelles</h3>
            <p>
                Les informations collectées via le site sont destinées à [Nom de l'entreprise ou de la personne
                responsable]
                pour la gestion des candidatures et des offres d'emploi. Conformément au Règlement Général sur la
                Protection
                des
                Données (RGPD), vous disposez d'un droit d'accès, de rectification et de suppression de vos données.
                Pour
                exercer vos droits, contactez-nous à privacy@intershiped.fr.
            </p>

            <h3>5. Responsabilités</h3>
            <p>
                Le site Intershiped met tout en œuvre pour fournir des informations exactes mais ne saurait être tenu
                responsable des erreurs, omissions ou résultats obtenus par l'usage de ces informations.
            </p>

            <h3>6. Cookies</h3>
            <p>
                Le site utilise des cookies pour améliorer l'expérience utilisateur. Vous pouvez configurer vos
                préférences
                en matière de cookies via votre navigateur.
            </p>

            <h3>7. Droit applicable</h3>
            <p>
                Les présentes mentions légales sont régies par le droit français. Tout litige relève de la compétence
                exclusive des tribunaux français.
            </p>
        </div>
    </main>
    <footer>
        &copy; 2025 Intershiped. Tous droits réservés. |&nbsp;
        <a href="mentions.html" class="footer-link"> Mentions légales</a>
    </footer>
    <script src="../js/script.js"></script>
</body>

</html>